.MMM-corona-dresden .danger {
    color: red;
}

.MMM-corona-dresden .warning {
    color: orange;
}

.MMM-corona-dresden .success {
    color: green;
}

.MMM-corona-dresden .green-light {
    color: lightgreen;
}

.MMM-corona-dresden .green-dark {
    color: darkgreen;
}

.MMM-corona-dresden .green {
    color: green;
}

.MMM-corona-dresden .yellowgreen {
    color: yellowgreen;
}

.MMM-corona-dresden .yellow {
    color: yellow;
}

.MMM-corona-dresden .orange {
    color: orange;
}

.MMM-corona-dresden .orangered {
    color: orangered;
}

.MMM-corona-dresden .red {
    color: red;
}